@import '../../../css/theme';

.sidebar {
	flex: 0.3;
	height: 100%;
	border-right: 1px solid $secondary;

	.sidebar__drawer {
		margin-left: 5px;
		.MuiIconButton-root {
			color: grey !important;
		}
	}

	.sidebar__options {
	}

	.sidebar__post {
		background-color: $primary !important;
		border: none;
		font-weight: 900;
		text-transform: inherit;
		border-radius: 30px;
		height: 50px;
		margin-bottom: 10px;
	}
}

@media only screen and (max-width: 768px) {
	.sidebar {
		flex: 0.2;
	}
}
