@import '../../../css/theme';

@mixin color_trans {
	color: black;
	transition: color 300ms ease;
}

.sidebarOption {
	width: 100%;
	height: calc(var(--vh, 1vh) * 7.5);
	display: flex;
	align-items: center;
	cursor: pointer;
	background-color: transparent;
	color: $text;
	border-radius: calc(var(--vh, 1vh) * 4.8);
	text-decoration: none;
	transition: color 300ms ease;
	transition: background-color 300ms ease;

	&:hover {
		background-color: rgba($color: $primary, $alpha: 1);
		transition: background-color 300ms ease;
		@include color_trans();

		h2,
		.MuiSvgIcon-root {
			@include color_trans();
		}
	}

	h2 {
		font-weight: 800;
		font-size: calc(var(--vh, 1vh) * 3);
	}

	.MuiSvgIcon-root {
		padding: calc(var(--vh, 1vh) * 1) calc(var(--vh, 1vh) * 3.5)
			calc(var(--vh, 1vh) * 1) calc(var(--vh, 1vh) * 3.5);
	}
}

.sidebarOption--active {
	color: $primary !important;
	.MuiSvgIcon-root {
		color: $primary;
	}
}
