@import '../../../css/theme';

.sidebar {
	flex: 0.01;
	height: 100%;

	.sidebar__drawer {
		margin-left: 5px;
		.MuiIconButton-root {
			color: grey !important;
		}
	}

	.sidebar__buttons {
		display: flex;
		flex-direction: column;
	}

	.sidebar__button {
		color: $text !important;
		border: none !important;
		font-weight: 900 !important;
		text-transform: inherit !important;
		height: 50px !important;
		&:hover {
			background-color: black !important;
		}
	}
}
