@import '../../../css/theme';

@mixin trans {
	color: black;
	transition: color 300ms ease;
}

.sidebarOption {
	max-width: 50vh;
	height: 7.5vh;
	display: flex;
	align-items: center;
	cursor: pointer;
	color: $text;

	&:hover {
		background-color: $primary;
		border-radius: 30px;
		@include trans();
		h2 {
			@include trans();
		}
	}

	h2 {
		font-weight: 800;
		font-size: 20px;
		margin-right: 20px;
	}

	.MuiSvgIcon-root {
		padding: 17.5px;
	}
}

.sidebarOption--active {
	color: $primary;
	border-radius: 30px;
}
