@import '../../../css/theme';

.sidebar {
	height: 100%;

	.sidebar__drawer {
		width: 4.5vw;
		height: 10vh;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.sidebar__options {
		display: flex;
		flex-direction: column;
	}

	.sidebar__buttons {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
	}

	.sidebar__button {
		padding: 2px 7.5px;
		color: $text !important;
		border: none !important;
		font-weight: 900 !important;
		font-size: 1.5vw !important;
		text-transform: inherit !important;
		height: 8vh !important;
		width: 100%;
		&:hover {
			box-shadow: 0px -4px 5px $primary !important;
		}
	}

	.MuiSvgIcon-root {
		color: grey !important;
		width: 1.5vw;
		height: 1.5vw;
	}
}
