@import '../../../css/theme';

@mixin trans {
	color: black;
	transition: color 300ms ease;
}

.sidebarOption {
	width: 100%;
	height: 7.5vh;
	display: flex;
	align-items: center;
	cursor: pointer;
	color: $text;
	text-decoration: none;

	&:hover {
		background-color: $primary;
		border-radius: 30px;
		@include trans();
		h2 {
			@include trans();
		}
	}

	h2 {
		font-weight: 800;
		font-size: 1.5vw;
		margin-right: 20px;
	}

	.MuiSvgIcon-root {
		padding: 1.2vw 2vw 1.2vw 1.5vw;
		width: 1.5vw;
		height: 1.5vw;
	}
}

.sidebarOption--active {
	color: $primary;
	border-radius: 30px;
}
