@use '../abstract' as *;

.sidebar {
	width: 40vh;
	height: 100vh;
	display: block;
	transition: width 500ms ease;

	img {
		width: 40vh;
		filter: drop-shadow(1vh 1vh 4vh rgba($color: #fff, $alpha: 0.1));
		position: absolute;
		top: -25%;
		left: 0%;
	}

	.sidebar__drawer {
		width: 10vh;
		height: 10vh;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.sidebar__options {
		display: flex;
		flex-direction: column;
		margin-bottom: 2vh;

		.sidebarOption .MuiSvgIcon-root {
			width: 10vh;
		}
		.sidebarOption__active {
			color: $primary !important;
			.MuiSvgIcon-root {
				color: $primary;
			}
		}
	}

	.MuiSvgIcon-root {
		color: grey;
		width: 4vh;
		height: 4vh;
		padding-bottom: 0.6vh;
	}

	.sidebar__access {
		max-height: 16vh;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: flex-end;

		.sidebar__buttons {
			display: flex;
			flex-direction: column;
			align-items: center;
			flex: 1;
		}

		.sidebar__button {
			width: 100%;
			border-radius: 1vh;
			&:hover {
				box-shadow: 0 -0.6vh 0.8vh $primary !important;
			}
		}

		.sidebar__button__text {
			color: $text !important;
			border: none !important;
			font-weight: 900 !important;
			font-size: 1.8vh !important;
			text-transform: inherit !important;
			height: 7vh !important;
		}
	}
}

.closed {
	// width: 10vh !important;
}

@include respond-to(tablet) {
	.sidebar {
		width: 10vh;
		.MuiDrawer-paper {
			background-color: rgba($color: $secondary, $alpha: 0.9);
		}
	}
}