@import '../../../css/theme';

.profile {
	width: 100%;
	color: $text;
	display: flex;
	flex-direction: column;
	padding: 20px;

	.profile__user {
		display: flex;
		flex-direction: column;
		justify-content: center;

		.profile__left {
			display: flex;
			flex-direction: column;
			align-items: center;
			padding: 20px;

			.profile__avatar {
				width: 200px;
				height: 200px;
				margin: 20px;
			}
			.profile__name {
				font-size: 28px;
			}
			.profile__handle {
				display: flex;
				align-items: center;

				.MuiIconButton-root {
					color: $primary !important;
				}
			}
		}

		.profile__right {
			width: auto;

			form {
				display: flex;
				flex-direction: column;
				justify-content: center;

				.profile__input {
					margin-bottom: 10px;
				}

				.profile__button {
					background-color: $primary !important;
					border: none !important;
					font-weight: 900 !important;
					text-transform: inherit !important;
					border-radius: 30px !important;
					height: 40px !important;
					margin-top: 1%;
				}

				.profile__errors {
					margin: 5px auto;
					color: $primary;
				}
			}
		}
	}

	.profile__posts {
		width: 100%;

		.profile__posts__loading {
			padding: 20px;
			.feed__end {
				text-align: center;
			}
		}
		.MuiLinearProgress-indeterminate {
			background-color: $background;
		}
		.MuiLinearProgress-bar {
			background-color: $primary;
		}
	}
}
