.profile {
  width: 100%;
  color: #a2a2a2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
}

.profile .profile__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.profile .profile__user .profile__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 20px 0 20px;
}

.profile .profile__user .profile__left .profile__avatar {
  width: 200px;
  height: 200px;
  margin: 20px;
}

.profile .profile__user .profile__left .profile__name {
  font-size: 28px;
}

.profile .profile__user .profile__left .profile__handle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile .profile__user .profile__left .profile__handle .MuiIconButton-root {
  color: #583333 !important;
}

.profile .profile__user .profile__follows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.profile .profile__user .profile__follows .profile__follows__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.profile .profile__user .profile__follows .profile__follows__text .profile__follows__text__number {
  padding: 0 10px 8px;
}

.profile .profile__user .profile__follows .profile__follows__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.profile .profile__user .profile__follows .profile__follows__list .profile__list_followers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 12px 10px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
}

.profile .profile__user .profile__follows .profile__follows__list .profile__list_following {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 12px 10px;
  width: 100%;
}

.profile .profile__user .profile__right {
  width: auto;
}

.profile .profile__user .profile__right form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.profile .profile__user .profile__right form .profile__input {
  margin-bottom: 10px;
}

.profile .profile__user .profile__right form .profile__button {
  background-color: #583333 !important;
  border: none !important;
  font-weight: 900 !important;
  text-transform: inherit !important;
  border-radius: 30px !important;
  height: 40px !important;
  margin-top: 1%;
}

.profile .profile__user .profile__right form .profile__errors {
  margin: 5px auto;
  color: #583333;
}

.profile .profile__posts {
  width: 100%;
}

.profile .profile__posts .profile__posts__loading {
  padding: 20px;
}

.profile .profile__posts .profile__posts__loading .feed__end {
  text-align: center;
}

.profile .profile__posts .MuiLinearProgress-indeterminate {
  background-color: #101011;
}

.profile .profile__posts .MuiLinearProgress-bar {
  background-color: #583333;
}
/*# sourceMappingURL=profile.css.map */