//$background: #0a0a0c;
$background: #121212e8;

//$primary: #583333;
$primary: #5c3030;
$secondary: #000000;

$hover: #765454;
$text: #a2a2a2;

@mixin textOverflow {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
