@import './theme';

.app {
	background-color: $secondary;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	overflow-y: scroll;
	display: flex;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

	.MuiInput-root {
		color: $text;
	}
	.MuiInput-underline::after {
		border-bottom-color: $primary;
	}
	.MuiDrawer-paper {
		background-color: rgba(0, 0, 0, 0.2);
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	.MuiIconButton-root {
		color: black;
	}
}

a {
	color: $text;
	&:hover {
		color: $primary;
	}
}

::-webkit-scrollbar {
	//width: 10px;
	display: none;
}
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px rgb(10, 10, 10);
	border-radius: 10px;
}
::-webkit-scrollbar-thumb {
	background: #1f1f1f;
	border-radius: 10px;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:active,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus,
select:-webkit-autofill:active {
	-webkit-text-fill-color: $text !important;
	-webkit-box-shadow: 0 0 0 1000px $secondary inset !important;
	border: none !important;
	transition: background-color 5000s ease-in-out 0s;
	//transition: background-color 500ms ease-in-out;
}
