@import './theme';

.app {
	background-color: $background;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow-y: hidden;
	display: flex;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.container {
	background: transparent;
}

::-webkit-scrollbar {
	//width: 10px;
	display: none;
}
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px rgb(10, 10, 10);
	border-radius: 10px;
}
::-webkit-scrollbar-thumb {
	background: #1f1f1f;
	border-radius: 10px;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
	-webkit-text-fill-color: $text;
	transition: background-color 500ms ease-in-out;
}
