@use '../abstract' as *;

.comment {
	display: flex;
	padding: calc(var(--vh, 1vh) * 1.5);
	border-top: 1px solid black;

	.comment__avatar {
		padding: 10px;
	}
	.MuiIconButton-root {
		color: $primary !important;
	}

	.comment__body {
		flex: 1;
		padding: 10px;
		flex-direction: column;

		.comment__header {
			display: flex;
			justify-content: space-between;
			height: 1em;

			.comment__user {
				display: flex;
				height: 10em;

				.comment__name {
					font-size: 1em;

					@include respond-to(tablet) {
						@include textOverflow();
						font-size: 0.7em;
						max-width: 14vw;
					}
				}
				.comment__handle {
					color: rgb(74, 74, 74);
					font-size: 0.6em;
					margin: 5.5px 8px 0 8px;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
					max-width: 12vw;
					@include respond-to(tablet) {
						@include textOverflow();
						font-size: 0.5em;
						max-width: 24vw;
					}
				}
			}

			.comment__delete {
				right: 0;
				width: 30px;
				height: 30px;
			}
		}

		.comment__timestamp {
			font-size: 0.5em;
			margin: 0 0 10px 1px;
		}
		.comment__text {
			font-size: 1em;
			margin: 12px 0 0 1px;
		}
	}
}
