@use '../abstract/colors' as *;

.postskeleton {
	background-color: $background;
	display: flex;
	align-items: flex-start;
	border-bottom: 2px solid $secondary;
	padding: 1.5%;
	flex: 1;

	.postskeleton__avatar {
		padding: 10px;
	}

	.postskeleton__body {
		flex: 1;
		padding: 10px;

		.postskeleton__header {
			margin-top: 6px;

			.postskeleton__header__text {
				background-color: $primary;
				height: 16px;
				width: 50%;
				margin: 2px 0;
			}
			.postskeleton__header__timestamp {
				background-color: $primary;
				height: 8px;
				width: 25%;
				margin: 4px 0;
			}
			.postskeleton__header__description {
				background-color: $primary;
				height: 16px;
				width: 75%;
				margin: 16px 0 12px 0;
			}
		}
		img {
			border-radius: 20px;
		}

		.postskeleton__footer {
			display: flex;
			justify-content: space-between;
			margin-bottom: -3%;

			.MuiIconButton-root {
				color: $primary !important;
			}
		}
	}
}
