@use '../abstract/colors' as *;

.croakbox {
	background-color: $background;
	padding-bottom: 10px;
	margin-bottom: 8px;
	padding: 1.5%;
	flex: 1;
	display: flex;

	.croakbox__avatar {
		padding: 10px;
	}

	form {
		display: flex;
		flex-direction: column;
		color: $text;
		flex: 1;
		padding: 10px;

		.croakbox__input__text {
			flex: 1;
			margin-top: 1%;
			background: transparent;
		}

		.croakbox__input__img {
			padding: 2% 0;
		}

		.croakbox__button {
			background-color: $primary !important;
			border: none !important;
			font-weight: 900 !important;
			text-transform: inherit !important;
			border-radius: 30px !important;
			height: 40px !important;
			margin-top: 1%;
		}
	}
}
