@use '../abstract' as *;

.sidebarOption {
	width: 100%;
	height: 7.5vh;
	display: flex;
	align-items: center;
	cursor: pointer;
	background-color: transparent;
	color: $text;
	text-decoration: none;
	transition: all 200ms;

	@include respond-to(laptop) {
		&:hover {
			background-color: rgba($color: $primary, $alpha: 0.7);
			color: $secondary;
			transition: all 10ms;

			h2,
			.MuiSvgIcon-root {
				color: $secondary !important;
			}
		}
	}

	h2 {
		font-weight: 800;
		font-size: 3vh;
	}

	.MuiSvgIcon-root {
		padding: 1vh;
		transition: color 10ms ease;
	}
}
