@use '../abstract' as *;

.sidebarOption {
	width: 100%;
	height: calc(var(--vh, 1vh) * 7.5);
	display: flex;
	align-items: center;
	cursor: pointer;
	background-color: transparent;
	color: $text;
	text-decoration: none;
	transition: color 200ms ease, background-color 200ms ease;

	&:hover {
		background-color: rgba($color: $primary, $alpha: 0.7);
		color: #000;

		h2,
		.MuiSvgIcon-root {
			color: #000;
		}
	}

	h2 {
		font-weight: 800;
		font-size: calc(var(--vh, 1vh) * 3);
	}

	.MuiSvgIcon-root {
		padding: calc(var(--vh, 1vh) * 1) calc(var(--vh, 1vh) * 3.5)
			calc(var(--vh, 1vh) * 1) calc(var(--vh, 1vh) * 3.5);
		transition: color 200ms ease;
	}
}

.sidebarOption--active {
	color: $primary !important;
	.MuiSvgIcon-root {
		color: $primary;
	}
}
