@import '../../../../../css/theme';

.commentform {
	padding: 1.5%;
	flex: 1;
	display: flex;
	border-top: 1px solid black;

	.commentform__avatar {
		padding: 10px;
	}

	form {
		display: flex;
		flex-direction: column;
		flex: 1;

		.commentform__input {
			flex: 1;
			padding: 18px 10px 0px 10px;
		}
	}
}
