@import '../../../../../css/theme';

.comment {
	display: flex;
	padding: 1.5%;
	border-top: 1px solid black;

	.comment__avatar {
		padding: 10px;
	}
	.MuiIconButton-root {
		color: $primary !important;
	}

	.comment__body {
		flex: 1;
		padding: 10px;
		flex-direction: column;

		.comment__header {
			display: flex;
			justify-content: space-between;
			height: 20px;

			.comment__user {
				display: flex;

				.comment__name {
					font-weight: bold;
					font-size: 16px;
				}
				.comment__handle {
					color: rgb(74, 74, 74);
					font-size: 10px;
					margin: 5.5px 0 0 10px;
				}
			}

			.comment__delete {
				right: 0;
				width: 30px;
				height: 30px;
			}
		}

		.comment__timestamp {
			font-size: 8px;
			margin: 0 0 10px 1px;
		}
		.comment__text {
			font-size: 15px;
			margin: 0 0 10px 1px;
		}
	}
}
