@import '../../../css/theme';

.croakbox {
	padding-bottom: 10px;
	border-bottom: 8px solid $secondary;
	padding: 2%;
	flex: 1;

	form {
		display: flex;
		flex-direction: column;
		color: $text;

		.croakbox__input {
			display: flex;

			.croakbox__avatar {
				width: 6%;
				height: 5%;
			}

			.croakbox__input__text {
				flex: 1;
				margin-top: 1%;
				margin-left: 5%;
				background: transparent;
			}
		}

		.croakbox__input__img {
			margin-left: 11%;
			padding: 2% 0;
		}

		.croakbox__button {
			background-color: $primary !important;
			border: none !important;
			font-weight: 900 !important;
			text-transform: inherit !important;
			border-radius: 30px !important;
			height: 50px !important;
		}
	}
}
