@import '../../../css/theme';

.feed {
	flex: 1;
	min-width: min-content;
	width: 100%;
	overflow-y: scroll;
	border-right: 7px solid $secondary;
	color: $text;

	.feed__header {
		position: sticky;
		top: 0;
		background-color: transparent;
		z-index: 100;
		border-bottom: 1px solid black;
		padding: 15px 20px;
	}
}

@media only screen and (max-width: 768px) {
	.feed {
		flex: 1;
	}
}
