@import '../../../../css/theme';

.post {
	background-color: $background;
	display: flex;
	align-items: flex-start;
	border-bottom: 2px solid $secondary;
	height: 100%;
	padding: calc(var(--vh, 1vh) * 1.5) calc(var(--vh, 1vh) * 1.5) 0
		calc(var(--vh, 1vh) * 1.5);

	.post__avatar {
		padding: 10px;
	}
	.MuiIconButton-root {
		color: $primary !important;
	}

	.post__body {
		flex: 1;
		padding: 10px;

		.post__header {
			display: flex;
			flex-direction: column;

			.post__header__text {
				display: flex;
				justify-content: space-between;
				color: $text;
				height: 24px;

				.post__header__user {
					display: flex;

					.post__header__name {
						font-weight: bold;
						font-size: 1em;

						@media only screen and (max-width: 768px) {
							font-size: 0.8em;
							@include textOverflow();
							max-width: 20vw;
						}
					}
					.post__header__handle {
						color: rgb(74, 74, 74);
						font-size: 0.6em;
						margin: 5.5px 8px 0 8px;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
						max-width: 12vw;
						@media only screen and (max-width: 768px) {
							font-size: 0.6em;
							@include textOverflow();
							max-width: 24vw;
							margin-top: 1.6px;
						}
					}
				}
				.post__header__delete {
					right: 0;
					width: 45px;
					height: 45px;
					margin-top: -7px;
				}
				.post__follow {
					background-color: $primary !important;
					border: none !important;
					font-size: 0.6em;
					font-weight: 800 !important;
					text-transform: inherit !important;
					border-radius: calc(var(--vh, 1vh) * 4.8) !important;
					height: 18px !important;
					margin: 3px 0 0 0;
					right: 0;
				}
			}

			.post__header__timestamp {
				font-size: 8px;
				margin: 0 0 10px 1px;
			}
			.post__header__description {
				font-size: 15px;
				margin: 4px 0 12px 1px;
			}
		}
		img {
			border-radius: 20px;
		}

		.post__img {
			width: 100%;
			height: auto;
			margin: 5px 0;
		}

		.post__footer {
			display: flex;
			justify-content: space-between;
		}
	}
}
