@import '../../../../css/theme';

.post {
	background-color: $background;
	display: flex;
	align-items: flex-start;
	border-bottom: 2px solid $secondary;
	padding: 1.5%;
	flex: 1;

	.post__avatar {
		padding: 10px;
	}
	.MuiIconButton-root {
		color: $primary !important;
	}

	.post__body {
		flex: 1;
		padding: 10px;

		.post__header {
			display: flex;
			flex-direction: column;

			.post__header__text {
				display: flex;
				justify-content: space-between;
				color: $text;
				height: 24px;

				.post__header__user {
					display: flex;

					.post__header__name {
						font-weight: bold;
						font-size: 16px;
					}

					.post__header__handle {
						color: rgb(74, 74, 74);
						font-size: 10px;
						margin: 5.5px 0 0 10px;
					}
				}
				.post__header__delete {
					right: 0;
					width: 30px;
					height: 30px;
				}
			}

			.post__header__timestamp {
				font-size: 8px;
				margin: 0 0 10px 1px;
			}
			.post__header__description {
				font-size: 15px;
				margin: 0 0 10px 1px;
			}
		}
		img {
			border-radius: 20px;
		}

		.post__img {
			width: 100%;
			height: auto;
		}

		.post__footer {
			display: flex;
			justify-content: space-between;
			margin-bottom: -3%;
		}
	}
}
