//$background: #0a0a0c;
$background: #121212e8;

//$primary: #583333;
$primary: #5c3030;
$secondary: #000000;

$hover: #765454;
$text: #a2a2a2;

// $colors: (
// 	primary: (
// 		100: #cfd8dc,
// 		200: #b0bec5,
// 		300: #90a4ae,
// 		400: #78909c,
// 		500: #607d8b,
// 		600: #546e7a,
// 		700: #455a64,
// 		800: #37474f,
// 		900: #263238,
// 	),
// 	neutral: (
// 		100: #f7f7f7,
// 		200: #eeeeee,
// 		300: #e2e2e2,
// 		400: #d0d0d0,
// 		500: #ababab,
// 		600: #8a8a8a,
// 		700: #636363,
// 		800: #323232,
// 		900: #121212,
// 	),
// 	error: #cf6679,
// );
