@use 'breakpoints' as *;

@mixin respond-to($key) {
	$size: map-get($breakpoints, $key);

	@if ($key == laptop) {
		@media only screen and (min-width: $size) {
			@content;
		}
	} @else {
		@media only screen and (max-width: $size) {
			@content;
		}
	}
}

@mixin textOverflow {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
