@use 'breakpoints' as *;

@mixin respond-to($key) {
	$size: map-get($breakpoints, $key);

	@media only screen and (min-width: $size) {
		@content;
	}
}

@mixin textOverflow {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
