@import '../../../css/theme';

.login {
	flex: 1;
	min-width: 50vw;
	width: 100%;
	border-right: 7px solid $secondary;
	color: $text;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 40px;

	.login__title {
		margin: 15px auto;
	}

	.login__form {
		display: flex;
		flex-direction: column;
		text-decoration: none;
		align-items: center;

		.login__input {
			flex: 1;
			background: transparent;
			min-width: 40vw;
			max-width: 80vw;
			width: 100%;
			margin: 12.5px auto;
		}

		.login__errors {
			color: $primary;
			font-size: 0.8rem;
		}

		.login__button {
			margin: 15px auto;
			width: 100%;
			background-color: $primary !important;
			border: none !important;
			font-weight: 900 !important;
			text-transform: inherit !important;
			border-radius: 30px !important;
			height: 50px !important;
		}
	}
}

@media only screen and (max-width: 768px) {
	.login__input {
		width: 100% !important;
	}
	.login__button {
		width: 100% !important;
	}
}
