@import '../../../css/theme';

.post {
	display: flex;
	align-items: flex-start;
	border-bottom: 2px solid $secondary;
	padding-bottom: 10px;

	.post__avatar {
		padding: 10px;
	}

	.post__body {
		flex: 1;
		padding: 10px;

		.post__header {
			.post__header__text {
				display: flex;
				color: $text;

				.post__header__name {
					margin-top: -8px;
					font-weight: bold;
				}

				.post__header__handle {
					margin: 0px 20px;
					color: rgb(74, 74, 74);
				}
			}
			.post__header__description {
				margin-bottom: 10px;
				font-size: 15px;
			}
		}
		img {
			border-radius: 20px;
		}
		.post__footer {
			display: flex;
			justify-content: space-between;
			margin-top: 10px;
		}
	}
}
