@use '../abstract' as *;

.login {
	color: $text;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10vh 5vh 0 5vh;
	height: 100%;

	.login__logo {
		filter: invert(80%);
	}

	.login__title {
		margin: 2vh 0;
	}

	.login__form {
		display: flex;
		flex-direction: column;
		text-decoration: none;
		align-items: center;
		justify-content: center;

		.login__input {
			flex: 1;
			background: transparent;
			max-width: 1080px;
			width: 80vh;
			margin: 1.5vh 0;
		}

		.login__errors {
			color: $primary;
			font-size: 1.5vh;
		}

		.login__button {
			margin: 1.5vh 0;
			width: 100%;
			background-color: $primary !important;
			border: none !important;
			font-weight: 900 !important;
			text-transform: inherit !important;
			border-radius: 4.8vh !important;
			height: 50px !important;
		}
	}
}

@include respond-to(tablet) {
	.login__input {
		width: 100% !important;
	}
	.login__button {
		width: 100% !important;
	}
}
