@use '../abstract' as *;

.widgets {
	width: 16vw;

	.widgets__input {
		display: flex;
		align-items: center;
		background: transparent;
		background-color: rgba(255, 255, 255, 0.1);
		padding: 10px;
		border-radius: 20px;
		margin: 10px 20px;

		.widgets__search {
			color: $text;
		}

		input {
			border: none;
			outline-width: 0;
			background: transparent;
			margin-left: 1em;
			color: $text;
		}
	}
}

@include respond-to(tablet) {
	.widgets {
		display: none;
	}
}
