@import '../../../../css/theme';

.message_sidebar {
	display: flex;
	flex-direction: column;
	flex: 0.35;

	.message_sidebar_header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 20px;
		height: calc(var(--vh, 1vh) * 7.5);
		border-bottom: 1.5px solid $text;

		.MuiSvgIcon-root {
			margin: calc(var(--vh, 1vh) * 2);
			font-size: 1em;
			color: $text;
		}
	}

	.message_sidebar_search {
		display: flex;
		align-items: center;
		height: 40x;
		padding: 10px;

		.MuiSvgIcon-root {
			padding: 10px;
		}

		input {
			flex: 1;
			border: none;
			outline-width: 0;
			margin-left: 1em;
			background: transparent;
			color: $text;
		}
	}

	.message_sidebar_chats {
		flex: 1;
		overflow-y: scroll;
		padding-top: calc(var(--vh, 1vh) * 1);
	}
}
