@import '../../../../css/theme';

.message__sidebar__chat {
	display: flex;
	padding: calc(var(--vh, 1vh) * 1.8);
	cursor: pointer;
	height: calc(var(--vh, 1vh) * 7.5);

	&:hover {
		box-shadow: calc(var(--vh, 1vh) * 0) calc(var(--vh, 1vh) * -0.6)
			calc(var(--vh, 1vh) * 1) $primary !important;
	}

	.MuiSvgIcon-root {
		margin-right: 5px;
		font-size: 10px;
	}

	.avatar {
		size: 5px;
	}

	.message__sidebar__chat__info {
		margin-left: 15px;
		margin-top: -18px;

		h2 {
			font-size: 16px;
		}
		p {
			font-size: 12px;
			margin-top: -4px;
		}
	}
}
