@import '../../../../css/theme';

.chat {
	display: flex;
	flex-direction: column;
	flex: 0.65;

	.chat_header {
		padding: 20px;
		display: flex;
		align-items: center;
		border-bottom: 1.5px solid rgba(0, 0, 0, 0.2);
		height: calc(var(--vh, 1vh) * 7.5);

		.chat_header_info {
			flex: 1;
			padding-left: 20px;

			h3 {
				font-size: 20px;
				font-weight: 500;
				margin-top: 2%;
				margin-bottom: 0px;
			}
			p {
				font-size: 16px;
				margin-top: 0px;
			}
		}
	}

	.chat_body {
		padding: 30px;
		overflow-y: scroll;
		height: 80%;
		background-color: rgba(0, 0, 0, 0.3);

		.chat_message {
			position: relative;
			font-size: 1em;
			padding: 10px;
			width: max-content;
			border-radius: 10px;
			margin-bottom: 30px;
			background-color: rgb(32, 32, 32);
		}

		.chat_name {
			position: absolute;
			top: -15px;
			font-weight: 800;
			font-size: xx-small;
		}
		.chat_timestamp {
			display: flex;
			font-size: xx-small;
		}

		.chat_receiver {
			margin-left: auto;
			background-color: rgba(41, 23, 23, 0.8);
		}
	}
}

.chat_footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: calc(var(--vh, 1vh) * 8);

	form {
		flex: 1;
		display: flex;

		input {
			flex: 1;
			border: none;
			outline-width: 0;
			padding: 10px;
			background: transparent;
			color: $text;
		}
		button {
			display: none;
		}
	}

	.MuiSvgIcon-root {
		padding: 10px;
		color: grey;
	}
}
