@use '../abstract' as *;

html,
body {
	background-color: $secondary;
	display: flex;
	justify-content: center;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

// #root {
// 	width: 1400px;
// 	max-width: 100%;
// }

.app {
	width: 100vw;
	height: 100vh;
	display: flex;

	.MuiInput-root {
		color: $text;
	}
	.MuiInput-underline::after {
		border-bottom-color: $primary;
	}
	.MuiDrawer-paper {
		background-color: rgba(0, 0, 0, 0.2);
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.view {
		width: 100%;
		max-width: 1024px;
		height: 100%;
		padding: 0 1vw 0 0;
		margin: 0 auto;

		@include respond-to(mobile) {
			max-width: calc(100vw - 10vh);
		}
	}
}

a {
	color: $text;
	&:hover {
		color: $primary;
	}
}

::-webkit-scrollbar {
	//width: 10px;
	display: none;
}
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px rgb(10, 10, 10);
	border-radius: 10px;
}
::-webkit-scrollbar-thumb {
	background: #1f1f1f;
	border-radius: 10px;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:active,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus,
select:-webkit-autofill:active {
	-webkit-text-fill-color: $text !important;
	box-shadow: 0 0 0 1000px $secondary inset !important;
	border: none !important;
	transition: background-color 5000s ease-in-out 0s;
	//transition: background-color 500ms ease-in-out;
}
